<div class="ui hidden divider"></div> 

<div class="ui two column stackable grid container vertical-align-center">
  <div class="two column row">
    <div class="six wide column">
      <div class="ui ordered tablet stackable vertical steps">
        <div class="active step step-one">
          <div class="content">
            <div class="title">Confirm Identity</div>
            <div class="description">Enter your name and a valid email</div>
          </div>
        </div>
        <div class="disabled step step-two">
          <div class="content">
            <div class="title">Download Data</div>
            <div class="description">Visit LinkedIn to export your connections</div>
          </div>
        </div>
        <div class="disabled step step-three">
          <div class="content">
            <div class="title">Upload Data</div>
            <div class="description">Upload downloaded .CSV or .VCF file</div>
          </div>
        </div>
      </div>
	  </div>
	  <div class="nine wide column">
      <div class="ui user-info transition">
        <%= form_for @user, method: :post, remote: true, html: { class: 'ui form'} do  |f| %>
          <div class="field">
            <div class="two fields">
              <div class="field">
                <%= f.text_field :name, placeholder: 'John Doe', id: 'name'  %>
              </div>
              <div class="field">
                <%= f.email_field :email, placeholder: 'john.doe@example.com', id: 'email' %>
              </div>
            </div>
          </div>
        <% end %>  
      </div>
      <div class="ui export-linkedin transition">
        <%= button_tag class: 'ui button massive export-btn disabled andela-color_1' do %>
              Visit LinkedIn Exporter<i class="right arrow icon"></i>
        <% end %>
      </div>
      <div class="ui upload transition">
        <%= form_tag media_contents_path, method: :post, class: 'ui form dropzone override segment disabled', id: 'media-dropzone', multipart: true do %>
          <div class="field">
            <div class="fallback">
              <input name="file" type="file"/>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
