<div id="feedback"></div>
<div id="login">
  <%= form_for @user, remote: true do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %> <br>
    <%= f.label :email %>:
    <%= f.text_field :email %> <br>
    <%= f.submit "Export My LinkedIn Data"%>
  <% end %><%= render "partials/form" %>
</div>
